/* Custom CSS untuk tampilan yang lebih rapi */
body {
    background-color: #b69cbe; /* Warna latar belakang */
}

/* Modifikasi pada Navbar */
.navbar {
    /* MENGUBAH BACKGROUND HEADER MENJADI WARNA CREAM */
    background-color: #F5F5DC !important; 
    border-bottom: 2px solid #040c14; /* Ditebalkan sedikit */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan lembut */
}

.card {
    border: none;
    border-radius: 0.75rem;
}

h2 {
    color: #86c694; /* Warna biru Bootstrap primary */
}